<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="imboclient test suite">
      <directory>tests/ImboClient</directory>
    </testsuite>
  </testsuites>

  <php>
    <const name="IMBOCLIENT_ENABLE_TESTS" value="false" />
    <const name="IMBOCLIENT_TESTS_URL" value="" />
  </php>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Code coverage for imboclient" charset="UTF-8" yui="true" highlight="true" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    <log type="testdox-html" target="build/logs/testdox.html" />
    <log type="testdox-text" target="build/logs/testdox.txt" />
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">library/ImboClient</directory>
    </whitelist>
  </filter>
</phpunit>
